<a href="https://colab.research.google.com/github/DanielleYurit/LibrayPandas/blob/main/Visualiza%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import a biblioteca
import pandas as pd

In [ ]:
#Leitura dos arquivos
df1 = pd.read_excel("/Aracaju.xlsx")
df2 = pd.read_excel("/Fortaleza.xlsx")
df3 = pd.read_excel("/Natal.xlsx")
df4 = pd.read_excel("/Recife.xlsx")
df5 = pd.read_excel("/Salvador.xlsx")

In [ ]:
#df1.head()
#df2.head()
#df3.head()
#df4.head()
df5.head()

In [ ]:
#Juntando todos os arquivos
df = pd.concat([df1, df2, df3, df4, df5])

In [ ]:
#Exibindo as 5 primeiras linhas
df.head()

In [ ]:
#Exibindo as 5 ultimas linhas
df.tail()

In [ ]:
df.sample(5)

In [ ]:
#Verificando o tipo de dado de cada coluna
df.dtypes

In [ ]:
#Alterando o tipo de dado da coluna Loja ID
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
df.dtypes

In [ ]:
df.head()

**Tratando valores faltantes**

In [ ]:
#Consultando linhas com valores faltantes
df.isnull().sum()

In [ ]:
#Substituindo os valores nulo pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
df["Vendas"].mean()

In [ ]:
df.isnull().sum()

In [ ]:
df.sample(15)

In [ ]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [ ]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [ ]:
#Removendo linhas que estejam com valores faltantes en todas as colunas
df.dropna(how="all", inplace=True)

**Criando colunas novas**

In [ ]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [ ]:
df.head()

In [ ]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [ ]:
df.head()

In [ ]:
#Retornando a maior receita
df["Receita"].max()

In [ ]:
#Retornando a menor receita
df["Receita"].min()

In [ ]:
#nlargest (Top 3 com as maiores receitas)
df.nlargest(3, "Receita")

In [ ]:
#nsamllest  (Top 3 com as menores receitas)
df.nsmallest(3,"Receita")

In [ ]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

In [ ]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

**Trabalhando com Datas**

In [ ]:
#Transformando a coluna de dara em tipo inteiro
df["Data"] = df["Data"].astype("int64")

In [ ]:
#Verificando o tipo de dado de cada coluna
df.dtypes

In [ ]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [ ]:
df.dtypes

In [ ]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [ ]:
df.types

In [ ]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [ ]:
#Criando uma nova coluna com o ano 
df["Ano_Venda"] = df["Data"].dt.year

In [ ]:
df.sample(5)

In [ ]:
#Extraindo o mes e o dia (Criando coluna)
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [ ]:
df.sample(5)

In [ ]:
#Retornando data mais antiga
df["Data"],min()

In [ ]:
#Calculando a diferenca de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [ ]:
df.sample(5)

In [ ]:
#Criando coluna de trimestre
df["Trimestre_venda"] = df["Data"].dt.quarter

In [ ]:
df.sample(5)

In [ ]:
#Filtrando as vendas de 2019 de mes de março
vendas_marco_2019 = df.loc[(df["Data"].dt.year == 2019 ) & (df["Data"].dt.month == 3)]

In [ ]:
vendas_marco_2019.sample(20)

**Visualização de dados**

In [ ]:
df["LojaID"].value_counts(ascending=False)

In [ ]:
#Gráfico de barras
df["LojaID"].value_counts(ascending=False).plot.bar()

In [ ]:
#Gráfico de barras horizontais
df["LojaID"].value_counts().plot.barh()

In [ ]:
#Gráfico de barras horizontais
df["LojaID"].value_counts(ascending=True).plot.barh();

In [ ]:
#Grafico de Pizza 
df.groupby(df["Data"].dt.year)["Receita"].sum().plot.pie()

In [ ]:
#Total de vendas por cidade
df["Cidade"].value_counts()

In [ ]:
#Adicionando um titulo e alterando o nome dos eixos
import matplotlib.pyplot as plt
df["Cidade"].value_counts().plot.bar(title="Total vendas por Cidade")
plt.xlabel("Cidade")
plt.ylabel("Total Vendas");

In [ ]:
#Alterando a cor
df["Cidade"].value_counts().plot.bar(title="Total vendas por Cidade", color="purple")
plt.xlabel("Cidade")
plt.ylabel("Total Vendas");

In [ ]:
#Alterando o estilo
plt.style.use("ggplot")

In [ ]:
df.groupby(df["mes_venda"])["Qtde"].sum().plot(title ="Total Produtos Vendidos por Mês")
plt.xlabel("Mês")
plt.xlabel("Total Produtos Vendidos")
plt.legend()

In [ ]:
df.groupby(df["mes_venda"])["Qtde"].sum()

In [ ]:
#Selecionando apenas as vendas de 2019
df_2019 = df[df["Ano_Venda"] == 2019]

In [ ]:
df_2019.groupby(df_2019["mes_venda"])["Qtde"].sum()

In [ ]:
#Total produtos vendidos por mês 
df_2019.groupby(df_2019["mes_venda"])["Qtde"].sum().plot(marker = "o")
plt.xlabel("Mês")
plt.ylabel("Total Produtos Vendidos")
plt.legend();

In [ ]:
#Histograma
plt.hist(df["Qtde"], color ="Blue");

In [ ]:
plt.scatter(x=df_2019["dia_venda"], y = df_2019["Receita"]);

In [ ]:
#Salvando em png
df_2019.groupby(df_2019["mes_venda"])["Qtde"].sum().plot(marker = "v")
plt.title("Quantidade de produtos vendidos x mês")
plt.xlabel("Mês")
plt.ylabel("Total Produtos Vendidos")
plt.legend()
plt.savefig("grafico Qtde x Mes.png")